#Commerce secrets
COMMERCE_CONSUMER_KEY=
COMMERCE_CONSUMER_SECRET=
COMMERCE_ACCESS_TOKEN=
COMMERCE_ACCESS_TOKEN_SECRET=
COMMERCE_BASE_URL=

#ShipStation ship from default configuration
SHIPSTATION_API_KEY=
SHIPSTATION_CARRIER_IDS=se-1941419,se-1941420
SHIPSTATION_WAREHOUSE_NAME=Acme Warehouse
SHIPSTATION_WAREHOUSE_PHONE=999-999-9999
SHIPSTATION_WAREHOUSE_ADDRESS_LINE1=999 Vegas Ave
SHIPSTATION_WAREHOUSE_CITY=Las Vegas
SHIPSTATION_WAREHOUSE_REGION=NV
SHIPSTATION_WAREHOUSE_POSTCODE=89100
SHIPSTATION_WAREHOUSE_COUNTRY=US
