#run: openssl rand -hex 32
ENCRYPTION_KEY=

#run: openssl rand -hex 16
ENCRYPTION_IV=

# PaaS should use https://<commerce_instance_url>/rest/all/
# SaaS should use their GraphQL endpoint URL
COMMERCE_BASE_URL=
COMMERCE_CONSUMER_KEY=
COMMERCE_CONSUMER_SECRET=
COMMERCE_ACCESS_TOKEN=
COMMERCE_ACCESS_TOKEN_SECRET=

# Will be populated automatically when app build for first time or can be synced on demand using `npm run sync-oauth-credentials` command.
# To configure Commerce instance to allow this creds please follow https://developer.adobe.com/commerce/extensibility/starter-kit/checkout/connect/#adobe-identity-management-service-ims
# Note OAUTH_CLIENT_SECRETS and OAUTH_SCOPES should be arrays
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRETS=[""]
OAUTH_TECHNICAL_ACCOUNT_ID=
OAUTH_TECHNICAL_ACCOUNT_EMAIL=
OAUTH_SCOPES=[""]
OAUTH_IMS_ORG_ID=